<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestaurantDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B255D52B1CCDE6F600D622B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B255D53F1CCDE6F700D622B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B255D54A1CCDE6F700D622B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
